<div id="aboutPage" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About Me</h2>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <p>
                    Currently studying Computer Science with the aim of becoming a Mobile and Web App Developer.
                    I currently work two part time jobs which consists of me doing web and mobile development commercially.
                    I am a Junior Full-Stack Web App Developer as well as a Junior Cross-Platform Mobile App Developer.
                </p>
                <p>
                    The reason I created this application was to teach people the fundamentals of simple programming blocks
                    such as For Loops and If Statements which are extremely useful in developing any application using a programming language.
                </p>
                <p>
                    I also travel in my free time whilst playing sports etc.
                    Below, I have put two images of my favourite part of the world, which is the area in and around St Andrews:
                </p>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card">
                <img class="card-image card-img-top" src="./../../assets/pic1.jpg" alt="Picture Taken By Me">
                <div class="card-body">
                    <p class="card-text">This is a picture of a place on the coast of Scotland, near Cupar, in which I got lost and managed to take that beautiful photo.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card">
                <img class="card-image card-img-top" src="./../../assets/pic2.jpg" alt="Picture Taken By Me">
                <div class="card-body">
                    <p class="card-text">A beautiful photograph of the sea from St Andrews through a lovely day of blue skies and sun.</p>
                </div>
            </div>
        </div>
    </div>
</div>