<div id="homePage" class="container">
    <div class="row">
      <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Method
            </div>
            <div class="card-body">
              <!-- Insert Method -->
              <div id="methodContainer" [sortablejs]="method" [sortablejsOptions]="options">
                <div class="component" *ngFor="let component of method">
                  <p>{{ component }}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Components
            </div>
            <div class="card-body">
              <!-- Insert Components -->
              <div id="componentsContainer" [sortablejs]="components" [sortablejsOptions]="options">
                <div class="component" *ngFor="let component of components">
                  <p>{{ component }}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div id="terminalCard" class="card">
            <div id="terminalHeader" class="card-header">
              <span>TERMINAL</span>
              <span class="close-btn"><i class="material-icons">clear</i></span>
              <span class="exp-btn"><i class="material-icons">fullscreen</i></span>
              <span class="min-btn"><i class="material-icons">remove</i></span>
            </div>
            <div id="terminalBody" class="card-body">
              <div id="terminal">
                  <p>> </p>      
              </div>
              <div id="terminalSeparator"></div>
              <div id="terminalQuote">
                <footer class="blockquote-footer" *ngFor="let quote of quotes">{{ quote }}</footer>                  
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="toolBtnGroup" class="row">
        <button id="runBtn" type="button" class="btn btn-success float-right">RUN</button>
    </div>
</div>