<div id="homePage" class="container">
    <div class="row">
      <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Method
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Components
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div id="terminalCard" class="card">
            <div id="terminalHeader" class="card-header">
              <span>TERMINAL</span>
              <span class="close-btn"><i class="material-icons">clear</i></span>
              <span class="exp-btn"><i class="material-icons">fullscreen</i></span>
              <span class="min-btn"><i class="material-icons">remove</i></span>
            </div>
            <div id="terminalBody" class="card-body">
              <div id="terminal">
                  <p>> </p>      
              </div>
              <div id="terminalSeparator"></div>
              <div id="terminalQuote">
                <footer class="blockquote-footer">"Learning to code is the single best thing anyone can do to get the most out of the amazing future in front of us." <cite title="Source Title">- Marc Andreessen</cite></footer>                  
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="toolBtnGroup" class="row">
        <button id="runBtn" type="button" class="btn btn-success float-right">RUN</button>
        <button id="addBtn" type="button" class="btn btn-danger float-right">ADD</button>
    </div>   
</div>